<%- include('../template/header', {title: 'title'}); %>

        <div class="row">
          <div class="col-lg-6">
            <div class="well bs-component">
              <form class="form-horizontal">
                <fieldset>
                  <legend>New Post</legend>

                  <form class="bs-component">


                    <div class="form-group">
                      <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputSubTitle" class="col-lg-2 control-label">Sub Title</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputSubTitle" placeholder="Sub Title">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="textArea" class="col-lg-2 control-label">Body</label>
                      <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea" placeholder="Body"></textarea>
                        <a href="#" id="" class="help-block">Save as Draft.</a>
                      </div>
                    </div>


                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>

                </fieldset>
              </form>
            </div>
          </div>
        </div>

</body>
</html>
