<%- include('./template/header', {title: 'login failed'}); %>
<div class="container">
  <h3>Login Failure</h3>
  <a class="btn btn-warning" href="/login">
    Click Here to Try Again
  </a>
</div>

<%- include('./template/footer', {title: 'Try Logging Again'}); %>
